name: Build app 
on:
  #监听push操作
  push:
    branches:
      # mian分支，你也可以改成其他分支
      - main
jobs:
  # 任务ID
  build:
    # 运行环境
    runs-on: ubuntu-latest
    # 步骤
    steps:
    # 使用别人的action
    - uses: actions/checkout@v2
    - name: npm i
      # 步骤执行指令
      run: npm install npm@5.5.1 -g
    # 步骤名称
    - name: npm install
      # 步骤执行指令
      run: npm install
    - name: npm build
      run: npm run build
